<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>537919334758-fuo63gd03o9h8t7vttbenjqfen3v3rka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537919334758-fuo63gd03o9h8t7vttbenjqfen3v3rka</string>
	<key>API_KEY</key>
	<string>AIzaSyAEvCSJ1CpA4eYZTtgGYUfzuT2LTw0by5k</string>
	<key>GCM_SENDER_ID</key>
	<string>537919334758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.embarqueSolidario.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>embarque-doador-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>embarque-doador-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537919334758:ios:358023636c54fae40dc0a7</string>
</dict>
</plist>